@model IEnumerable<WebAppMultiUserMVC.Models.SelectUsetCls>
@{
    ViewBag.Title = "User_Load";
}

<h2>User_Load</h2>

<div>
    @using (Html.BeginForm("DisplayAll_SP_Load", "SelectAllUsers", FormMethod.Get))
    {
        <table id="t01" class="table">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Email</th>
                <th>Photo</th>
            </tr>
            @foreach (var item in ViewBag.userdetails)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Address</td>
                    <td>@item.Email</td>
                    <td>
                        <img src="@Url.Content(item.Photo)" alt="Image"height="150" width="150"/>
                    </td>
                </tr>
            }
        </table>
    }
</div>
<style>
    #t01 {
        background-color: lightcoral;
    }

        #t01 h1 {
            color: black;
        }

        #t01 th {
            color: aliceblue;
            background-color: coral;
        }
        #t01 td{
            color:aquamarine;
            padding:30px;
        }
</style>